# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Project outputs
/generated_resumes/

# Tools
.mypy_cache/
.pytest_cache/
.cache/

# Editors
.vscode/
.idea/
